* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e3f2fd;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card {
  position: relative;
  background-color: #fff;
  background-image: url(./images/bg.png);
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card header,
.card .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 48px;
  margin-right: 10px;
}

.card h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

h5.number {
  margin-top: 8px;
  font-size: 18px;
  letter-spacing: 1px;
}

.card h6.name {
  margin-top: 40px;
  font-size: 18px;
}

.card h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

header .chip {
  width: 50px;
}

.card .card-details {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
